body
{
    background-color:#150E2F;
}
h1
{
    color: #D4C448;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
h2
{
    color: white;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
h4
{
    color: white;
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
p
{
    color: white;
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
}
a
{
    color: #D4C448;
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px #D4C448 ridge;
    border-radius: 10px;
}
ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #D4C448;
    color : white;
}
#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
	height: 250px;
}
a:hover
{
    color: white;
    text-decoration: underline;
}
#conteneur
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#conteneurlogo
{
    display: flex;
    justify-content: center;
}